@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  background-color: #515151;
}
::-webkit-scrollbar {
  width: 0px;
}
@media (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
